.box-1{
    padding: 50px 30px 50px 30px;
    /*background-color: #C8A985;*/
    color: #fff;
    height: calc(50% - 15px);
}
.bg-1{
    background-color: #999999;
}
.bg-2{
    background-color: #C8A985;
}
.light-orrange{
    background-color: #F0E3CC;
}
.box-small{
    width: 200px;
    text-align: center;
}
.font-24{
    font-size: 24px;
}
body{
    font-family: "Roboto",sans-serif;
}
.btn{
    padding: 5px 20px;
    background-color: transparent;
    color: #fff;
    font-size: 10px;
    border: 1px solid #fff;
    border-radius: 0;
}
.bg-4{
    background-color: #CCCCCC;
}
.bg-5{
    background-color: #F2F2F2;
}
.height_340{
    height: 100%;
    padding: 15px 15px 50px 15px;

}
.navbar-expand-lg {
    flex-flow: wrap !important;
}
.navbar-expand-lg .navbar-nav{
    flex-direction: column !important;
}
.navbar-expand-lg .navbar-collapse {
    flex-direction: column !important;
}
.navbar{
    align-items: flex-start;
    justify-content: space-between;
}
.sidebar{
    width: 230px;
    padding-right: 50px;
    /*flex: 0 0 230px;*/
    /*max-width: 230px;*/
    float:left;
    height: 100vh;
}
nav{
    height: 100%;
}
.navbar-collapse{
    justify-content: space-between ;
    flex-grow: inherit;

}
.my-navbar{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.my-navbar-collapse{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
.main-div{
    /*display: flex;*/
    flex-wrap: wrap;
    box-sizing: border-box;
}
.main-body{
    /*flex: 0 0 calc(100% - 230px);*/
    width: calc(100% - 230px);
    /*max-width: calc(100% - 230px);*/
    float:left;
}
.social-media .nav-link{
    padding: 10px 5px;
}
.li-spacer{
    height: 20px;
}
.navbar-nav .nav-link{
    font-size: 12px;
    color:#999999;
    padding: 3px 0;
    text-transform: uppercase;
}
.font-10{
    font-size: 10px;

}
.language-font select{
    color: #666666;

}
.newsletter .form-control{
    height: 25px;
}
.btn:hover{
    background-color: white;
    color: black;
}
.navbar-nav .nav-link:hover{
    color: #202020;
}
.navbar-nav .nav-link.active{
    color: #C8A985;
}
.row-1{
    height: 60vh;
    overflow: hidden;
}
.row-2{
    height: 40vh;
    overflow: hidden;
}
.mb-30{
    margin-bottom: 30px;
}


/*new style*/
.mobile-head{
    display: flex;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color:#fff;
    z-index: 9;
    padding:10px;
    height: 48px;
}
.mobile-head a i{
    color:#000;
    font-size:24px;
}
.mobile-head .navbar-brand{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.mobile-head .btn-search{
    position: absolute;
    left:45px;
}

.mobile-head .btn-wish{
    position: absolute;
    right:65px;
}

.mobile-head .btn-cart{
    position: absolute;
    right:15px;
}
.cart-counter{
    font-size:10px;
    color:#202020;
    position: relative;
    top:-2px;
}
.user-block-wrapper{
    background-color:#333;
    border:1px solid #4d4d4d;
    border-left:0;
    border-right:0;
}
.only-mobile-show{
    /*display: none;*/
}
.user-block .nav .nav-item{
    flex:1;
 }
.user-block .nav .nav-item .nav-link{
    text-align: center;
    color:#e2e2e2;
    font-size:30px;
    padding:20px 0;
}
.user-block .nav .nav-item .nav-link span{
    display: block;
    font-size:12px;
}
.user-block .nav .nav-item{
    border-right:1px solid #4d4d4d;
}
.user-block .nav .nav-item:last-child{
    border-right:0;
}
.fa-times{
    display: none;
}
.menu-opened .mobile-menu .fa-bars{
    display: none;
}
.menu-opened .mobile-menu .fa-times{
    display: block;
}
.menu-opened .btn-wish,
.menu-opened .btn-cart{
    display: none;
}
.menu-opened .btn-search{
    left:unset;
    right:15px;
}
.menu-opened .mobile-head{
    background-color: #000;
}
.menu-opened .mobile-head a i{
    color:#C8A985;
}
.logo-changed{
    display: none;
}
.mneu-opened .logo-changed{
    display: block;
}
.menu-opened .logo{
    display:none;
}
.menu-opened .sidebar{
    display: block;
}
footer{
}
.backtotop{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#000;
    font-size:12px;
    text-transform: uppercase;
    font-weight: 600;
    margin:30px 0 20px 0;
}
.backtotop:hover{
    text-decoration: none;
}
.top-icon{
    width:35px;
    height:35px;
    border-radius: 50%;
    border:1px solid #000;
    color:#000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-right:10px;
}
.main-footer{
    margin-top:10px;
    border-top:1px solid #C8A985;
    padding:10px 15px;
    font-size:12px;
}
.main-footer .nav li a{
    color:#C8A985;
    padding:5px 8px;
    font-size:11px;

}
.footer-credit{
    color:#666666;
    font-size:10px;
}
.swiper-row{
    margin-bottom:10px;
    position: relative;
}
.slider-box{
    background-color: #000;
    padding:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40vh;

}
.slider-box *{
    color:#fff;
}
.slider-box h2{
    font-size:30px;
    margin-bottom: 8px;
}
.slider-box p{
    font-size:16px;
    margin-bottom:20px;
}
.swiper-pagination-bullet{
    background-color: #fff;
    
}
.todown{
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    z-index: 8;
}
.swiper-pagination{
    bottom: 100px !important;
}